/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #333333; /* Tailwind color: bg-gray-800 */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: gray; /* Tailwind color: bg-gray-600 */
    border-radius: 10px;
    border: 2px solid #333333; /* Tailwind color: bg-gray-800 */
  }
  

  /* Custom scrollbar styles */
.scrollbar-x-thin::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-x-thin::-webkit-scrollbar-track {
  background: #333333; /* Tailwind color: bg-gray-800 */
}

.scrollbar-x-thin::-webkit-scrollbar-thumb {
  background-color: gray; /* Tailwind color: bg-gray-600 */
  border-radius: 10px;
  border: 2px solid #333333; /* Tailwind color: bg-gray-800 */
}